body {
    background-color: #eee;
    font-family: 'Trebuchet MS';
    text-align: center;
    margin: 0;
}
#wrap {
    background-color: #fff;
    border-top: 4px solid #000;
    border-bottom: 8px solid #000;
    margin: auto ;
    max-height: 800px;
    padding: 24px 0 32px 0;
    width:384px;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 32px;
}
h2 {
    font-family: 'Amaranth', 'GillSans';
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}
img {
    width: 384px;
    height: auto;
}
p {
	margin: 12px;
}
.credit {
	font-size: 12px;
}
.uppercase {
    text-transform: uppercase;
}